*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: beige;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  width: 90%;
  background-color: #fff;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 0 0 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

header h1 {
  font-size: 1rem;
  color: gray;
}

.todo--form {
  width: 100%;
  border: 1px solid rgba(168, 127, 127, 0.419);
  border-left: none;
  border-right: none;
  margin-top: 1rem;
  display: flex;
}

.todo--form input {
  border: none;
  padding: 15px 10px;
  outline: none;
  width: 93%;
}

.list--container {
  display: grid;
}

i.fa-solid {
  color: gray;
  cursor: pointer;
}

.list--item {
  display: flex;
  justify-content: space-between;
  gap: 0.3rem;
  align-items: center;
  border-top: 1px solid rgba(128, 128, 128, 0.419);
  padding: 15px 10px;
  position: relative;
}

.list--item:last-child {
  border-bottom: 1px solid rgba(128, 128, 128, 0.419);
}

.list--item:first-child {
  border-top: none;
}

.list--item button {
  background-color: white;
}

.list--item input[type='text'] {
  width: 100%;
  border: none;
  height: 100%;
  outline: none;
  display: none;
}

.list--item .desc---container {
  width: 100%;
}

.list--item .first--flex {
  display: flex;
  gap: 0.6rem;
  align-items: center;
  width: 100%;
}

.list--item > i {
  cursor: all-scroll;
}

.list--item input[type='checkbox'] {
  cursor: pointer;
}

.list--item p {
  font-size: 1rem;
  color: gray;
}

.list--item .fa-trash-can {
  display: none;
}

.list--item.hide--desc p {
  display: none;
}

.strike--through {
  text-decoration: line-through;
  opacity: 0.7;
}

.list--item.hide--desc {
  background-color: rgba(255, 166, 0, 0.367);
}

.list--item.hide--desc input[type='text'] {
  display: block;
  background-color: inherit;
}

.list--item.hide--desc .fa-trash-can {
  display: block;
}

.list--item.hide--desc .fa-ellipsis-vertical {
  display: none;
}

.clear--btn {
  width: 100%;
  padding: 20px;
  font-size: 1.1rem;
  border: none;
  color: gray;
  cursor: pointer;
}

@media (min-width: 768px) {
  .container {
    width: 500px;
  }
}
